article {
    background: #00000038 !important;
}

div[class*="reaction-"] {
    background: #52525231 !important;
}

div[class*="jumpToPresentBar"] {
    background: #292375;
}

div[class*="newMessagesBar"] {
    background: #4e45cc;
}

li[class*="upload-"] {
    background: #00000052;
}

div[class*="actionBar-"] div[class*="button-"],
div[class*="buttons-"] div[class*="wrapper-"],
div[class*="hoverButtonGroup-"] {
    background: #322b79;
}

div[class*="attachment-"] {
    background: #211d5254 !important;
}

div[id*="message-accessories-"] div[class*="wrapper-"] {
    background: #322b7960;
}

code {
    background: #0a091b !important;
}