article {
    background: #00000038 !important;
}

/* hide gift button */
button:has(path[d*="M16.886 7.999H20C21.104 7.999"]) {
    display: none;
}

code {
    background: #0a091b !important;
}

code[class="inline"] {
    background: #342a61 !important;
}

div[class*="itemCard"] {
    background: #1f1b4765;
}

div[class*="itemCard"]:hover {
    background: #080718 !important;
}

div[aria-roledescription="Open Thread Button"] {
    background: #1c133b;
}

div[class*="reaction-"] {
    background: #52525231 !important;
}

div[class*="jumpToPresentBar"] {
    background: #292375;
}

div[class*="newMessagesBar"] {
    background: #4e45cc;
}

div[class*="actionBar-"] div[class*="button-"],
div[class*="buttons-"] div[class*="wrapper-"],
div[class*="hoverButtonGroup-"] {
    background: #322b79;
}

div[class*="attachment-"] {
    background: #211d5254 !important;
}

div[id*="message-accessories-"] div[class*="wrapper-"] {
    background: #322b7960;
}

li[class*="upload-"] {
    background: #00000052;
}

section[class*="section"] {
    background: #1c1a35;
}